services:
  salt-master:
    build:
      context: ./saltstack
    entrypoint:
      - /bin/bash
    command:
      - -lc
      - |
        salt-master -l info &
        salt-minion -l info &
        tail -f /dev/null
    volumes:
      - ./saltstack/master.d:/etc/salt/master.d
      - ./saltstack/minion-master.d:/etc/salt/minion.d
      - ./saltstack/states:/srv/salt
      - ./saltstack/_beacons:/srv/salt/_beacons:ro
    ports:
      - "4505:4505"
      - "4506:4506"

  salt-minion-qg-1:
    build:
      context: ./saltstack
    entrypoint:
      - /bin/bash
    command:
      - -lc
      - |
        salt-minion -l info &
        tail -f /dev/null
    depends_on:
      - salt-master
    volumes:
      - ./saltstack/minion-qg-1.d:/etc/salt/minion.d
    hostname: minion-qg-1

  salt-minion-qg-2:
    build:
      context: ./saltstack
    entrypoint:
      - /bin/bash
    command:
      - -lc
      - |
        salt-minion -l info &
        tail -f /dev/null
    depends_on:
      - salt-master
    volumes:
      - ./saltstack/minion-qg-2.d:/etc/salt/minion.d
    hostname: minion-qg-2

  ansible-panelpc:
    build:
      context: ./ansible-pull
      dockerfile: panelpc.Dockerfile
    command: [ "/bin/bash", "-lc", "node_exporter & sleep infinity" ]
    environment:
      - ANSIBLE_CONFIG=/workspace/ansible.cfg
    volumes:
      - ./ansible-pull:/workspace
    hostname: ansible-panelpc

  ansible-worker-qg-1:
    build:
      context: ./ansible-pull
      dockerfile: worker.Dockerfile
    command: [ "/bin/bash", "-lc", "node_exporter & /usr/sbin/sshd -D -e" ]
    hostname: ansible-worker-qg-1

  ansible-worker-qg-2:
    build:
      context: ./ansible-pull
      dockerfile: worker.Dockerfile
    command: [ "/bin/bash", "-lc", "node_exporter & /usr/sbin/sshd -D -e" ]
    hostname: ansible-worker-qg-2

  pushgateway:
    image: prom/pushgateway:latest
    ports:
      - "9091:9091"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - pushgateway
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    restart: unless-stopped
