services:
  salt-master:
    image: ubuntu:22.04
    entrypoint:
      - /bin/bash
      - /master-entrypoint.sh
    volumes:
      - ./saltstack/master-entrypoint.sh:/master-entrypoint.sh:ro
      - ./saltstack/master.d:/etc/salt/master.d
      - ./saltstack/minion-master.d:/etc/salt/minion.d
      - ./saltstack/states:/srv/salt
    ports:
      - "4505:4505"
      - "4506:4506"

  salt-minion-qg-1:
    image: ubuntu:22.04
    entrypoint:
      - /bin/bash
      - /minion-entrypoint.sh
    depends_on:
      - salt-master
    volumes:
      - ./saltstack/minion-entrypoint.sh:/minion-entrypoint.sh:ro
      - ./saltstack/minion-qg-1.d:/etc/salt/minion.d
    hostname: minion-qg-1

  salt-minion-qg-2:
    image: ubuntu:22.04
    entrypoint:
      - /bin/bash
      - /minion-entrypoint.sh
    depends_on:
      - salt-master
    volumes:
      - ./saltstack/minion-entrypoint.sh:/minion-entrypoint.sh:ro
      - ./saltstack/minion-qg-2.d:/etc/salt/minion.d
    hostname: minion-qg-2

  ansible-panelpc:
    build:
      context: ./ansible
      dockerfile: panelpc.Dockerfile
    command: sleep infinity
    environment:
      - ANSIBLE_CONFIG=/workspace/ansible.cfg
    volumes:
      - ./ansible:/workspace
    hostname: ansible-panelpc

  ansible-worker-qg-1:
    build:
      context: ./ansible
      dockerfile: worker.Dockerfile
    hostname: ansible-worker-qg-1

  ansible-worker-qg-2:
    build:
      context: ./ansible
      dockerfile: worker.Dockerfile
    hostname: ansible-worker-qg-2
